<footer class="footer">
  <div class="footWrapper">
    <div class="col">
      Related Resources
      <ul>
        <li><a href="">Langara College </a></li>
        <li><a href=""> BC Transfer Guide </a></li>
        <li><a href=""> Langara Course Planner </a></li>
      </ul>
    </div>
    <div class="col">
      Socials
      <div class="socials">
        <ul>
          <li>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <p>&copy; <%= new Date().getFullYear(); %> Axel Velasquez</p>
</footer>
