<link rel="stylesheet" href="/css/about.css" />
<div class="innerContent">
  <div class="top" data-aos="fade-in" data-aos-duration="400">
    <h1>About RMPL</h1>
  </div>

  <h2 class="whoAreWe" data-aos="fade-left" data-aos-duration="400">
    Who are we?
  </h2>
  <div class="descriptionLeft" data-aos="fade-up-left" data-aos-duration="400">
    <p>
      We are a student led initiative within Langara College, we believe that
      the information about the quality of the classes you might be receiving is
      essential. And it being publicly available is also a good incentive to the
      professors in order to be more competitive, and therefore, boost the
      quality of the classes.
    </p>
    <img alt="whoAreWe image" src="/images/quality.svg" />
  </div>

  <h2 class="whatWeDo" data-aos="fade-right" data-aos-duration="400">
    What is it we do?
  </h2>
  <div
    class="descriptionRight"
    data-aos="fade-up-right"
    data-aos-duration="400"
  >
    <img alt="whatWeDo image" src="/images/whatWeDo.svg" />
    <p>
      We are a student led initiative within Langara College, we believe that
      the information about the quality of the classes you might be receiving is
      essential. And it being publicly available is also a good incentive to the
      professors in order to be more competitive, and therefore, boost the
      quality of the classes.
    </p>
  </div>

  <h2 class="ourGoal" data-aos="fade-left" data-aos-duration="400">
    What is our goal?
  </h2>
  <div class="descriptionLeft" data-aos="fade-up-left" data-aos-duration="400">
    <p>
      Our goal is to create a better community, spread the information that we
      have available along with helping our fellow classmates to find the
      professor that best fits them. We aim to make the decision of choosing a
      professor easier, faster, and more accurate!
    </p>
    <img alt="goals image" src="/images/goals.svg" />
  </div>
</div>
