<link rel="stylesheet" href="/css/instructor.css" />
<div class="innerContent">
  <div class="instructorInfo">
    <div class="nameAndRating">
      <h1><%= result.name%></h1>
      <h2 class="overall">
        <% if (result.overall == 0){%> N/A <%} else { %> <%= result.overall %>
        <%}%>
      </h2>
    </div>
    <h2 class = "department"><%= result.department %> Department</h2>
  </div>
</div>
