<link rel="stylesheet" href="/css/logIn.css" />

<% if(locals.isValidLogin == false){ %>
<p class="error">Failed to Log In, check your name or password!</p>
<% } %> <% if(locals.isValidSignIn == false && locals.alreadyInUse == true){ %>
<p class="error">The username is already in use, try another one!</p>
<%} else if(locals.isValidSignIn == false && locals.alreadyInUse == false){ %>
<p class="error">Unable to sign you in</p>
<%}%>
<div class="forms">
  <div class="formContainer">
    <form action="/authenticate" method="POST" id="loginForm">
      <h2>Log in</h2>
      <label for="username">Username</label>
      <input
        type="text"
        placeholder="Your username"
        name="username"
        id="loginUser"
        maxlength="15"
        minlength="8"
        pattern="[a-zA-Z0-9]+"
        required
      />
      <label for="password"> Password </label>
      <input
        type="password"
        placeholder="Enter password"
        name="password"
        id="loginPassword"
        maxlength="15"
        minlength="8"
        pattern="[a-zA-Z0-9]+"
        required
      />
      <input type="submit" value="Login" class="subm" id="logButton" disabled />
    </form>
    <div class="topLeft"></div>
  </div>

  <div class="formContainer">
    <form action="/createAccount" method="POST" id = "signInForm">
      <h2>Sign In</h2>
      <label for="username">Username</label>
      <input type="text" placeholder="Your username" name="username" id = "signInUsername" minlength = "8" maxlength = "15"  pattern="[a-zA-Z0-9]+" required />
      <label for="password"> Password </label>
      <div class="checkboxes" id = "checkboxes">
        <div class="upperCase" id = upperCase>
          <svg id = "checked" class = "checked"
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="24"
            height="24"
            viewBox="0 0 48 48"
          >
            <path
              fill="#c8e6c9"
              d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"
            ></path>
            <path
              fill="#4caf50"
              d="M34.586,14.586l-13.57,13.586l-5.602-5.586l-2.828,2.828l8.434,8.414l16.395-16.414L34.586,14.586z"
            ></path>
          </svg>
          <svg id = "notChecked" class = "notChecked"
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="24"
            height="24"
            viewBox="0 0 48 48"
          >
            <path
              fill="#f44336"
              d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"
            ></path>
            <path
              fill="#fff"
              d="M29.656,15.516l2.828,2.828l-14.14,14.14l-2.828-2.828L29.656,15.516z"
            ></path>
            <path
              fill="#fff"
              d="M32.484,29.656l-2.828,2.828l-14.14-14.14l2.828-2.828L32.484,29.656z"
            ></path>
          </svg>
          <p>Contains an uppercase letter</p>
        </div>
        <div id="letters8" class="letters8">
          <svg id = "checked" class="checked" 
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="24"
            height="24"
            viewBox="0 0 48 48"
          >
            <path
              fill="#c8e6c9"
              d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"
            ></path>
            <path
              fill="#4caf50"
              d="M34.586,14.586l-13.57,13.586l-5.602-5.586l-2.828,2.828l8.434,8.414l16.395-16.414L34.586,14.586z"
            ></path>
          </svg>
          <svg id = "notChecked" class = "notChecked"
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="24"
            height="24"
            viewBox="0 0 48 48"
          >
            <path
              fill="#f44336"
              d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"
            ></path>
            <path
              fill="#fff"
              d="M29.656,15.516l2.828,2.828l-14.14,14.14l-2.828-2.828L29.656,15.516z"
            ></path>
            <path
              fill="#fff"
              d="M32.484,29.656l-2.828,2.828l-14.14-14.14l2.828-2.828L32.484,29.656z"
            ></path>
          </svg>
          <p>Contains between 8 to 15 letters</p>
        </div>
        <div class="number1" id = "number1">
          <svg id = "checked" class = "checked"
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="24"
            height="24"
            viewBox="0 0 48 48"
          >
            <path
              fill="#c8e6c9"
              d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"
            ></path>
            <path
              fill="#4caf50"
              d="M34.586,14.586l-13.57,13.586l-5.602-5.586l-2.828,2.828l8.434,8.414l16.395-16.414L34.586,14.586z"
            ></path>
          </svg>
          <svg id = "notChecked" class = "notChecked"
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="24"
            height="24"
            viewBox="0 0 48 48"
          >
            <path
              fill="#f44336"
              d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"
            ></path>
            <path
              fill="#fff"
              d="M29.656,15.516l2.828,2.828l-14.14,14.14l-2.828-2.828L29.656,15.516z"
            ></path>
            <path
              fill="#fff"
              d="M32.484,29.656l-2.828,2.828l-14.14-14.14l2.828-2.828L32.484,29.656z"
            ></path>
          </svg>
          <p>Contains at least one number</p>
        </div>
      </div>
      <input
        type="password"
        placeholder="Enter password"
        name="password"
        id = "signInPassword"
        minlength = "8"
        maxlength = "15"
        pattern="[a-zA-Z0-9]+"
        required
      />
      <input type="submit" value="Sign In" class="subm" id = "submitButton" disabled />
    </form>
    <div class="topLeft"></div>
  </div>
</div>

<script src="/js/logIn.js" defer></script>
