<link rel="stylesheet" href="/css/logIn.css" />

<% if(locals.isValidLogin == false){ %>
<p class = "error">Failed to Log In, check your name or password!</p>
<% } %> <% if(locals.isValidSignIn == false && locals.alreadyInUse == true){ %>
<p class = "error">The username is already in use, try another one!</p>
<%} else if(locals.isValidSignIn == false && locals.alreadyInUse == false){ %>
<p class = "error">Unable to sign you in</p>
<%}%>
<div class="forms">
  <div class="formContainer">
    <form action="/authenticate" method="POST">
      <h2>Log in</h2>
      <label for="username">Username</label>
      <input type="text" placeholder="Your username" name="username" required />
      <label for="password"> Password </label>
      <input
        type="password"
        placeholder="Enter password"
        name="password"
        required
      />
      <input type="submit" value="Login" class = "subm">
    </form>
    <div class="topLeft"></div>
  </div>

  <div class="formContainer">
    <form action="/createAccount" method="POST">
      <h2>Sign In</h2>
      <label for="username">Username</label>
      <input type="text" placeholder="Your username" name="username" required />
      <label for="password"> Password </label>
      <input
        type="password"
        placeholder="Enter password"
        name="password"
        required
      />
      <input type="submit" value="Sign In" class = "subm">
    </form>
    <div class="topLeft"></div>
  </div>
</div>
