.innerContent{
    width:90%;
    margin-left:5%;
    margin-right:5%;
    margin-top:2%;
    font-family:'jaldi';
}

.innerContent h1{
    font-size: 3vw;
    margin-bottom:0;
}


.top{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.nameAndRating{
    display:flex;
    flex-direction: row;
    width:100%;
    margin-bottom:0;
}

.nameAndRating h2{
    font-size:4vw;
    margin-left:1vw;
    margin-top:0;
    margin-bottom:0;
    border-radius:5px;
    background-color:#9a9898;
}

.department{
    margin-top:0;
    font-size:2.4vw;
    font-style:italic;
    margin-bottom:0;
}

.rate h3{
    font-size:2vw;
}

#leaveRating {
    margin-left: auto;
    margin-right: auto;
    font-family: 'jaldi';
    font-size:1.8vw;
    font-weight:bold;
    padding: 10px 5vw 10px 5vw;
    background-color:#FCA311;
    border:none;
    border-radius:5px;
    box-shadow: 1px 1px black;
    transition:0.5s;
    text-decoration: none;
    color:black;

}

#leaveRating:hover{
    cursor:pointer;
    padding: 10px 4.8vw 10px 4.8vw;
}

.subjects{
    margin-top:0;
    display:flex;
    flex-direction: row;
    justify-content: left;
    max-width:30vw;
    flex-wrap: wrap;
    row-gap: 1vw;
   }

.subject{
    width:fit-content;
    padding:0 5px 0 5px;
    border-radius:1vw;
    font-family:'jaldi';
    background-color:#FCA311;
    font-weight:bold;
    font-size:0.9vw;
    margin-right:0.5vw;
    transition:0.5s;
}

.subject:hover{
    opacity:0.9;
}