@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');

.innerContent {
    font-family: 'jaldi';
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

}

.innerContent h1 {
    font-size: 3vw;
}


.innerContent h2{
    font-size:2vw;
}

#subject{
    font-family: 'jaldi';
    font-size:1.8vw;
    margin-right:0;
    border-radius:10px;
}

#submitSubject{

    background-color:rgb(31, 229, 31);
    margin:0;
    transform:translateX(-1.5vw);
    font-family: 'jaldi';
    font-size:1.8vw;
    margin-right:0;

}

#rate{

    display:flex;
    flex-direction:column;
    justify-content: center;
    background-image: url("/images/give_review.svg");
    background-repeat: no-repeat;
    background-position-x: right;
}

#rate .subj{
    margin-left:0;
    margin-bottom:1%;

}
#rate select{

    font-family: 'jaldi';
    width:fit-content;
    font-size:1.8vw;
    align-items: left;
    margin-bottom:3%;
}

#rate h3{
    margin:0;
    margin-right:4vw;
    margin-left:3vw;
    font-size:2vw;
}

.quality,
.difficulty,
.workload {
    margin-top:0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.quality input,
.difficulty input,
.workload input {
    display: none;
}

.quality label,
.difficulty label,
.workload label {
    font-size: 3vw;
    cursor: pointer;
}

.quality label:hover,
.quality label:hover~label,
.difficulty label:hover,
.difficulty label:hover~label,
.workload label:hover,
.workload label:hover~label {
    color: gold;
}

.quality input:checked~label,
.difficulty input:checked~label,
.workload input:checked~label {
    color: gold;
}

#rate textarea{
    width:40%;
    margin-bottom:5%;
}

#rate .comment{
    margin-left:0;
    text-align:left;
}

.submitForm{
    width:10%;
    font-family:'jaldi';
    font-size:3vw;
    background-color: #90EE90;
    border-radius:10px;
    transition:0.5s;
}

.submitForm:hover{
    opacity:0.8;
}